* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Pretendard, 'ROKAF Sans', sans-serif;
  background-color: var(--color9);
  color: var(--color11);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.login-container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}

.login-logo img {
  width: 100px;
  height: auto;
}

.login-logo h1 {
  color: var(--color4);
  font-size: 66px;
  font-weight: 700;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--color11);
}

.login-form label {
  font-size: 18px;
  font-weight: 700;
}

.login-form input {
  padding: 16px;
  border: 1px solid var(--color12);
  border-radius: 8px;
  background-color: var(--color12);
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease;
}

.login-form input:focus {
  border: 1px solid var(--color4);
  background-color: white;
}

.login-submit {
  margin-top: 24px;
  background-color: var(--color6);
  color: var(--color9);
  font-weight: 600;
  line-height: 24px;
  border: none;
  padding: 16px;
  border-radius: 40px;
  font-size: 20px;
  cursor: pointer;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.social-login-box {
  width: 100%;
  max-width: 640px;
  padding: 16px 24px;
  background-color: var(--color13);
  color: var(--color11);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0;
  gap: 24px;
}

.social-login-box p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 26px;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons img {
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.signup-link {
  margin-top: 32px;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  color: var(--color11);
  text-align: center;
}

.signup-link a {
  color: var(--color4);
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  text-decoration: underline;
  margin-left: 4px;
}

@media (max-width: 767px) {
  .login-container {
    padding: 40px 16px;
  }

  .login-form,
  .login-container
  .login-form input,
  .password-wrapper,
  .login-submit,
  .social-login,
  .social-login-box {
    width: 100%;
    max-width: 400px;
  }

  .social-icons {
    justify-content: center;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  font-family: Pretendard, sans-serif;
  background-color: white;
  width: 540px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  color: var(--color11);
  position: relative;
}

.modal-message {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  margin: 0 auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.modal-content button {
  width: 120px;
  height: 48px;
  background-color: var(--color4);
  color: white;
  border: none;
  padding: 12px 23px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  align-self: flex-end;
  transition: background-color 0.2s ease;
}

.modal-content button:hover {
  background-color: var(--color4-dark);
}


.modal.hidden {
  display: none;
}

