* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Pretendard, 'ROKAF Sans', sans-serif;
  background-color: #ffffff;
  color: #1F2937;
}

a {
  text-decoration: none;
  color: inherit;
}

.login-container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}

.login-logo img {
  width: 100px;
  height: auto;
}

.login-logo h1 {
  color: #3692FF;
  font-size: 66px;
  font-weight: 700;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color:#9CA3AF;
  
}

.login-form label {
  font-size: 18px;
  font-weight: 700;
  
}

.login-form input {
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #F3F4F6;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease;
  
}

.login-form input:focus {
  border: 1px solid #3692FF;
  background-color: white;
  
}

.login-submit {
  margin-top: 24px;
  background-color: #D1D5DB;
  color: white;
  font-weight: 700;
  border: none;
  padding: 16px;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
}

/* 간편 로그인 */
.social-login-box {
  width: 640px;
  display: flex;
  padding: 16px 24px;
  border-radius: 8px;
  margin: 32px 0;
  justify-content: space-between;
  align-items: center;
  background-color: #E6F2FF;
}


.social-login-box p {
  font-size: 14px;
  background-color: #1F2937;
  font-weight: 500;
  margin: 0;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons img {
  width: 42px;
  height: 42px;
  cursor: pointer;
}

/* 회원가입 안내 */
.signup-link {
  margin-top: 32px;
  font-size: 14px;
  color: #6B7280;
  text-align: center;
}

.signup-link a {
  color: #3692FF;
  margin-left: 4px;
  text-decoration: underline;
}